argparse
beautifulsoup4
blinker
docutils
ecdsa
feedgenerator
jinja2
lxml
markdown
markupsafe
mdx-video
paramiko
pelican>=3.6,<3.7
pillow
pycrypto
pygments
python-dateutil
pytz
six
smartypants
typogrify
unidecode
ghp-import2
pelican-youtube==0.2.0
